<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultats</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f4f4f9;
        }
        pre {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <h1>Résultats de {{ script_name }}</h1>
    <pre id="output"></pre>
    <script>
        const scriptName = "{{ script_name }}";
        console.log(`Script Name: ${scriptName}`);
        // Determine endpoint based on the script name
        let endpoint;
        if (scriptName === 'app-compare.py') {
            endpoint = "/events_compare";
        } else {
            endpoint = "/events_anal";
        }
        console.log(`Connecting to SSE endpoint: ${endpoint}`);
        const eventSource = new EventSource(endpoint);
        const outputElement = document.getElementById("output");
        eventSource.onopen = function() {
            console.log('Connected to the SSE server.');
        };
        eventSource.onmessage = function(event) {
            console.log(`Received data: ${event.data}`);
            outputElement.textContent += `${event.data}\n`;
        };
        eventSource.onerror = function(event) {
            console.error('EventSource error:', event);
            eventSource.close();
        };
    </script>
    <a class="button" href="{{ url_for('index') }}">Retour à l'accueil</a>
</body>
</html>