<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner des questions</title>
</head>
<body>
    <h1>Sélectionner les questions qui seront soumise sà la comparaison</h1>
    <form method="post">
        <ul>
        {% for question in questions %}
            <li>
                <input type="checkbox" name="selected_questions" value="{{ question }}">{{ question }}
            </li>
        {% endfor %}
        </ul>
        <button type="submit">Enregistrer la sélection</button>
    </form>
    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
</body>
</html>
